body {
  background-color: #3498db;
}

.wrapper {
  height: 100vh;
}

.box {
  background-color: white;
  position: relative;
}

.fa-quote-left {
  position: absolute;
  opacity: 0.1;
  top: 10px;
  left: 10px;
}